body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav{
  margin-left: 44%;
 }
.nav-link, h1{
  text-align: center;
}

#titleContainer {
  padding-bottom: 10px;
}

.col {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.form-control {
  width: 300px;
  margin: 0 auto;
}

.form-group {
  text-align: center;
}

.selectTag {
  width: 200px;
}
.bookButton {
  color: white;
}
.bookButton:hover {
  color: white;
  text-decoration: none;
}
.seatsContainer {
  margin-top: 100px;
}
.seatTaken, .seatFree {
  border: 1px solid black;
  width: 10px;
  height: 50px;
  text-align: center;
  padding-top: 5px;
}
.seatTaken {
  padding-top: 12px;
}

.seatNumbers {
  text-align: right;
}
.lettersRow {
  text-align: center;
}